@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Chango&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Patrick+Hand&display=swap');
* {
  --brand-hue: 200;
  --brand-saturation: 100%;
  --brand-lightness: 50%;
  --brand-light: #f5f5f5;
  --brand-dim: #2e3538;
  --brand-dark: #171a1c;
}

:root {
  color-scheme: light;
  --font: 'Lora', sans-serif;
  --color-soil: #C2714F;
  --color-dynamite: #F43E4D;
  --color-dig: #2E1F27;
  --color-seed: #0A8754;
  --color-water: #0A9DFF;
  --color-stone: #DADFF7;
  --color-worm: #F48498;
}

[color-scheme="light"] {
  color-scheme: light;
}

[color-scheme="light"] {
  color-scheme: light;
}

body {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--brand-light);
  font-family: var(--font);
  /* background-image: linear-gradient(#5D464D, #474747); */
}

header {
  display: flex;
  margin: 0;
  padding: 0;
}

.audio-wrapper {
  padding: 0;
  margin: 0;
}

audio {
  margin: 0.5vh 0 0 0;
  width: 100px;
  border-radius: 0;
  /* background-color: purple; */
}

h1 {
  font-weight: 900;
  font-size: 2em;
}

h3 {
  font-size: 1em;
  margin: 3vh 0 0 0;
}

main {
  /* padding: 2em; */
  display: flex;
  flex-direction: row;
}

canvas,
img {
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
}

aside {
  margin-left: 1em;
  margin-top: 1vh;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0.5vh 0 0 0;
  padding: 0.5em;
  background-color: #ecebeb;
  border: 1px solid #ccc;
}

.size-button {
  border: 1px solid #474747;
  height: 2.5em;
  width: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.25;
}

.size-button.active {
  opacity: 1;
}

.circle {
  border-radius: 50%;
  background-color: black;
  border: 1px solid black;
}

.circle.five {
  height: 5px;
  width: 5px;
}

.circle.ten {
  height: 10px;
  width: 10px;
}

.circle.twenty-five {
  height: 15px;
  width: 15px;
}

.circle.fifty {
  height: 20px;
  width: 20px;
}

.species-buttons {
  display: grid;
  gap: 10px;
  padding: 0.5em;
  background-color: #ecebeb;
  border: 1px solid #ccc;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0.5vh 0 0 0;
}

.species-button.active {
  opacity: 1;
}

.species-button {
  border: none;
  outline: none;
  padding: 6px 8px;
  border: 1px solid #474747;
  font-weight: 700;
  cursor: pointer;
  font-family: var(--font);
  opacity: 0.25;
}

.empty-button {
  background-color: var(--color-dig);
  color: white;
}

.sand-button {
  background-color: var(--color-soil);
  color: white;
}

.water-button {
  background-color: var(--color-water);
  color: white;
}

.dynamite-button {
  background-color: var(--color-dynamite);
  grid-row: 2;
  color: black;
}

.worm-button {
  background-color: var(--color-worm);
  grid-row: 2;
  color: black;
}

.seed-button {
  background-color: var(--color-seed);
  grid-row: 2;
  color: white;
}

.stone-button {
  background-color: var(--color-stone);
  grid-row: 2;
  color: black;
}

.control-button {
  border: 1px solid #474747;
  padding: 0.5em 1em;
  font-family: 'Chango';
  font-family: var(--font);
  margin-top: 1vh;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
  }
  aside {
    width: 50%;
    margin-left: 25%;
    font-size: 1em;
  }
  button {
    font-size: 1em;
  }
}

.mask {
  height: 100vh;
  z-index: -5;
  width: 100vw;
  position: absolute;
}

.mask.open {
  z-index: 2;
  background-color: rgba(0, 0, 0, .5);
}

.modal {
  position: absolute;
  z-index: -1;
  opacity: 0;
  height: 100vh;
  width: 50%;
  left: 25%;
  right: 0;
  background-color: var(--brand-light);
  transition: opacity 400ms z-index 400ms;
}

.first-header-tag {
  margin-top: 0;
}

.modal.open {
  opacity: 1;
  z-index: 3;
}

.modal-content {
  width: 80%;
  margin-left: 5%;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-header button {
  padding: 0;
  border: 1px solid #474747;
  padding: 0.5em 1em;
  height: 30px;
  font-family: var(--font);
  margin: auto 0;
}

.modal p {
  margin-top: 4px;
}

lt {
  font-size: 1.25em;
  font-weight: 900;
}

li:first-of-type {
  margin-top: 15px;
}

h4 {
  margin: 0;
}